*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Outfit', sans-serif, 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 16px;    
}
a{
    text-decoration: none;
    cursor: pointer;
}

.frame{
    padding: 0px 32px;
}

/* Contents */

.container{
    margin: 0 auto;
    max-width: 724px;
}

.contents{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.photograph{
    padding: 52px 0px 52px 0px;
}

.photograph img{
    max-width: 240px;
    max-height: 240px;
    border-radius: 50%;
}

.contentsText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contentsText p:nth-child(1){
    color: #112F39;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    padding: 0px 47px 40px 0px;
}

.contentsText p span{
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    color: #FF2E00;
}

.contentsText p:nth-child(2){
    color: #112F39;
    font-size: 18px;
    line-height: normal;
    padding-right: 126px;
}

/* Experience */

.experience{
    padding: 120px 0px 120px;
}

.experience h2{
    color: #112F39;
    font-size: 26px;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 32px;
} 

.experience-detail{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 24px 0px;
    border-bottom: 1px solid rgba(70, 70, 70, 0.16);
}

.experience .viewAll{
    padding-top: 32px;
    user-select: none;
}

.experience .viewAll a{
    color: #112F39;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid #FF2E00;
    background: linear-gradient(to right, #FF2E00 50%, #112F39 50%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
}
.experience .viewAll a:hover{
    background-position: -100%;
}



/* Experience Detail */

.company-name a{
    color: #FF2E00;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(to right, #112F39 50%,  #FF2E00 50% );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
}
.company-name a:hover{
    background-position: -100%;
}

.company-title{
    color: #112F39;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 4px;
    display: flex;
    justify-content: flex-end;
}

.company-period{
    color: #112F39A3;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

/*Information*/

.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding-bottom:75px ;
}

.information h3{
    color: #112F39;
    font-size: 26px;
    font-weight: 300;
    line-height: normal;
}

.information-detail{
    display: flex;
    justify-content: space-between; 
}

.top-text{
    display: flex;
    align-items: center;
}

.top-text svg{
    margin-left: 4px;
}

.information-detail a{
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 4px;
    background: linear-gradient(to right, #112F39 50%,  #FF2E00 50% );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
}
.information-detail a:hover{
    background-position: -100%;
}

.information p{
    color: #112F39A3;
    font-size: 14px;
    line-height: normal;
}


  
  

